
.node-user {
    padding: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: rgba(231, 236, 241, 0.23);
    border: 1px solid #000;
    width: 200px;
    font-size: 12px;
    /*height: 75px;*/
}

.table-node {
    margin-bottom: 0;
    height: 100%;
}
.table-node th {
    text-align: center;
}
.table-node>tbody>tr>td, .table-node>tbody>tr>th, .table-node>tfoot>tr>td,
.table-node>tfoot>tr>th, .table-node>thead>tr>td, .table-node>thead>tr>th {
    padding: 1px;
}

.table-node>thead {
    background-color: #CD6566;
}

.table-node>tbody {
    background-color: #C0DBF3;
}

.table-user-tree {
    margin-bottom: 0;
}
.table-user-tree>tbody>tr>td, .table-user-tree>tbody>tr>th, .table-user-tree>tfoot>tr>td,
.table-user-tree>tfoot>tr>th, .table-user-tree>thead>tr>td, .table-user-tree>thead>tr>th
{
    padding: 1px;
}

.table-user-tree thead tr th {
    font-size: 13px;
}

.table-user-tree td, .table-user-tree th {
    font-size: 10px;
}

.Treant .collapse-switch {
    width: 26px;
    height: 17px;
    border: none;
}

.Treant .collapse-switch::before {
    content: '折叠';

}

.Treant .collapsed .collapse-switch {
    background-color: transparent;
}

.Treant .collapsed .collapse-switch::before {
    content: '展开';
}